@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f8f7f3;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFSJR6_y7JEvp-wMx3_XL-qfLsN4c16ZtyUQ&s') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

/* BUTTON */
.btn {
  background: #6b8e23;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

/* PRODUCTS */
.products-section {
  padding: 60px 20px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* CHECKOUT */
.checkout {
  padding: 50px;
  text-align: center;
}

.checkout input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

/* FOOTER */
footer {
  background: #6b8e23;
  color: white;
  text-align: center;
  padding: 20px;
}
